/**
 * Stylesheet zur Klasse App: Hauptstylesheet der Anwendung.
 *
 * Hier sollten nur allgemeine Sachen stehen, die das Layout als Ganzes
 * betreffen. Also solche Dinge wie Schriftart, Schriftgrößen oder Farben.
 * Spezifische Angaben zur Listenübersicht oder dem Eingabeformular gehören
 * stattdessen in das jeweilige Stylesheet.
 */
@import url('https://fonts.googleapis.com/css?family=Rubik');

/* ALLGEMEINES */
    html, body {
        padding: 0;
        margin: 0;
    }

    html {
        font-family: "Rubik", sans-serif;
        font-size: 10pt;
        line-height: 1.6;
    }
    .hidden {
        display: none;
    }
    body{
        margin: 0 0 0 200px;
    }
    .nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
        background-color: black;
        justify-content: center;
        align-items: stretch;
    }
    .nav > ul {
        display: block;
        margin: 200 0 0 0 ;
        padding: 0 0 0 0;
    }

    .nav > ul > li{ 
        font-size: 18px;
        width: 100%;
        font-family: 'Quicksand', sans-serif;
        list-style: none;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .nav > ul > li:hover{
        cursor: pointer;
        background-color: #505050;
        border-right: 5px #d7ac1e solid;  
    } 
    .nav > ul > li > a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    .img {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 200px;
    }
    .img > img {
        max-width: 200px;
    }

